footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #1b1b1b, #0a0a0a);
    background: linear-gradient(59deg, #070707, #141414);
    color: white;
    margin-top:100px;
    text-decoration: none;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ffef0b;
    text-decoration: none;
  }
  
  .copy {
    font-size: 14px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }

  .social-media{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
  }
  .fb{
    font-size: 1.6rem;
  }
  .fb:hover{
    color: rgb(27, 27, 247);
  }
  .linkedin{
    font-size: 1.6rem;
  }
  .linkedin:hover{
    color: rgb(51, 103, 245);
  }
  .insta{
    font-size: 1.6rem;
  }
  .insta:hover{
    color: rgb(255, 0, 85);
  }

